@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap');

#blocklyDiv {
  box-sizing: border-box;
  border: 3px solid #ddd;
  width: 75%;
  height: 65vh;
}

.label-text {
  background: #cbcbcb;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font: 16px;
  border-bottom: 6px solid #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
}

.top-nav {
  background: #cbcbcb;
  padding: 4px 0.5rem;
  border-bottom: 3px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-grp {
  display: flex;
  gap: 5px;
}

#diagram .label-text {
  padding-top: 0;
  border: none;
}

.simulate-btn {
  margin: 0 5px;
}

.time {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.btn-sml {
  padding: 0 5px;
  border: none;
  background: #cbcbcb;
}

#diagram {
  box-sizing: border-box;
  border: 3px solid #ddd;
  width: 75%;
  height: 35vh;
}

#code {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  border: 3px solid #ddd;
  height: 100vh;
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#codeOutput {
  border: 1px solid gray;
  margin: 0.5rem;
  height: 88%;
  font-size: 0.9rem;
  white-space: pre-line;
}

#diagramOutput {
  box-sizing: border-box;
  border: 1px solid gray;
  margin: 0.5rem;
  height: 77%;
}

.copy {
  border: 1px solid gray;
  margin: 0 auto;
  display: block;
  width: 94%;
}

.copy:hover,
.simulate-btn:hover {
  background: rgba(218, 165, 32, 0.8);
}

.copy:active,
.simulate-btn:active {
  background: goldenrod;
}

.copy,
.simulate-btn {
  background: goldenrod;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 10px;
}

.time-logo {
  user-select: none;
}

.digitaljs-logo {
  width: 24px;
  height: 24px;
}
